@font-face {
    font-family: Alata;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/alata-v2-latin-regular.eot);
    src: local(""), url(../fonts/alata-v2-latin-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/alata-v2-latin-regular.woff2) format("woff2"), url(../fonts/alata-v2-latin-regular.woff) format("woff"),
        url(../fonts/alata-v2-latin-regular.ttf) format("truetype"), url(../fonts/alata-v2-latin-regular.svg#Alata) format("svg");
}
@font-face {
    font-family: Italianno;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Italianno-Regular.ttf);
}
body.light-mode {
    --bg: #dee4e7;
    --bg-secondary: rgba(0, 0, 0, 0.35);
    --header: #dee4e7;
    --cards: #c4cfd4;
    --text-stroke: #f5f5f5;
    --textNormal: #404040;
    --particle: #d2b6e5;
    --textTitle: #222;
    --textLink: #5c5470;
    --link-shadow: #000;
    --link: var(--textNormal);
    --color: var(--link-shadow);
    --hr: #ca9eb4;
    --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
    transition: background-color 0.3s ease;
}
body.dark-mode {
    --bg: linear-gradient(270deg, #040609, #3a6073);
    --bg-secondary: hsla(0, 0%, 100%, 0.75);
    --header: #3a6073;
    --cards: #3c6377;
    --text-stroke: #3a6073;
    --textNormal: #92abcf;
    --link-shadow: #56c6ff;
    --link: var(--link-shadow);
    --particle: #d2b6e5;
    --textTitle: #fff;
    --color: var(--textTitle);
    --textLink: #dbd8e3;
    --hr: tomato;
    --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}
html {
    font: 112.5%/1.45em Alata, serif, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
}
#tsparticles {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
body,
html {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    background-repeat: no-repeat;
    background: #232526;
    background: var(--bg);
    color: var(--textNormal);
    font-family: Alata;
    font-weight: 400;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-family: monospace;
}
a:active,
a:hover {
    outline-width: 0;
}
h1,
h3 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: inherit;
    font-family: Alata;
    font-weight: 700;
    line-height: 100%;
}
img {
    border-style: none;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*,
:after,
:before {
    box-sizing: inherit;
}
h6 {
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-size: 0.78405rem;
    line-height: 1.1;
}
h6,
p {
    padding: 0;
    margin: 0 0 1.45rem;
}
p {
    font-family: Quicksand;
}
strong {
    font-weight: 700;
}
li > ul {
    margin-top: 0.725rem;
}
li > p,
li > ul {
    margin-bottom: 0.725rem;
}
li {
    list-style-type: none;
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}
.awesomeButton {
    width: 100%;
    color: var(--hr);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 35px;
    border: 1px solid var(--hr);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.6em var(--hr), 0 0.9em rgba(0, 0, 0, 0.4);
}
.awesomeButton:active {
    top: 0.6em;
    box-shadow: 0 0.2em rgba(0, 0, 0, 0.4);
}
.contactButton {
    width: 350px;
    height: 70px;
    color: var(--link-shadow);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--link-shadow);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.6em var(--link-shadow), 0 0.9em rgba(0, 0, 0, 0.4);
}
.contactButton:active {
    top: 0.6em;
    box-shadow: 0 0.2em rgba(0, 0, 0, 0.4);
}
h6 {
    display: flex;
    justify-content: center;
    align-content: center;
    user-select: none;
    font-size: 40px;
    background: linear-gradient(90deg, #ee0979, #ff6a00);
    background-clip: text;
    line-height: 90%;
    margin-bottom: 0;
    font-family: Alata;
    letter-spacing: -1px;
    width: 100%;
}
h6.shown {
    position: absolute;
    top: 0;
    margin-top: 15px;
    will-change: transform, opacity;
}
h6.hidden {
    visibility: hidden;
    opacity: 0;
}
h6 span {
    display: block;
    margin: 0 5px;
    text-transform: none;
}
.title-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}
.Typist > * {
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
    .contactButton {
        width: 250px;
        height: 50px;
    }
    h6 {
        font-size: 25px;
    }
    .contactButton:active {
        top: 0.1em;
    }
}
#canvas {
    background: var(--bg);
}
.notFound {
    animation: planet-moving 3s ease infinite;
    transition: all 0.2s ease;
    font-size: calc(100px + 2vw);
    transform: translate(-55%, -55%);
    position: absolute;
    color: #f5f5f5;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@-webkit-keyframes planet-moving {
    0% {
        top: 30%;
    }
    50% {
        top: 31%;
    }
    to {
        top: 30%;
    }
}
@keyframes planet-moving {
    0% {
        top: 30%;
    }
    50% {
        top: 31%;
    }
    to {
        top: 30%;
    }
}
#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
